@model ProyectoVeterinariaG8.DAL.TipoMascota

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>Detalles del tipo de Mascota</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoId" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
