@model ProyectoVeterinariaG8.DAL.Mascota

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Mascota</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MascotaId" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoId" class="control-label"></label>
                <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                <span asp-validation-for="TipoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RazaId" class="control-label"></label>
                <select asp-for="RazaId" class="form-control" asp-items="ViewBag.RazaId"></select>
                <span asp-validation-for="RazaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <select asp-for="Genero" class="form-control">
                    <option value="Macho">Macho</option>
                    <option value="Hembra">Hembra</option>
                </select>
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioPropietarioId" class="control-label"></label>
                <input asp-for="UsuarioPropietarioId" class="form-control" />
                <span asp-validation-for="UsuarioPropietarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioCreacionId" class="control-label"></label>
                <input asp-for="UsuarioCreacionId" class="form-control" />
                <span asp-validation-for="UsuarioCreacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioModificacionId" class="control-label"></label>
                <input asp-for="UsuarioModificacionId" class="form-control" />
                <span asp-validation-for="UsuarioModificacionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
