@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acceso Denegado</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h2 class="card-title display-4 text-danger font-weight-bold">Acceso Denegado</h2>
                        <p class="card-text">Lo sentimos, no tienes permiso para acceder a este recurso.</p>
                        <p class="card-text">Por favor, inicia sesión con una cuenta autorizada.</p>
                        <hr />
                        <img src="https://th.bing.com/th/id/R.1be506c7e8d8286f52919fb004da6e80?rik=%2bmG6O2TnJSnpsg&riu=http%3a%2f%2fmobilepetcremation.com.sg%2fimages%2f404.jpg&ehk=n36NoiJ%2fCJRpMhIOSfQWbpFbZXsUGakwMksoQNtqdXs%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="Imagen de acceso denegado">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
<br />
<br />
<br />

</html>