@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido a <strong style="color: #64D6B9">PetVida</strong></h1>
    <p class="lead"><em>Las mascotas también son familia</em></p>
</div>

<div class="text-center">
    <img src="https://img.freepik.com/premium-photo/cute-pet-collage-isolated_23-2150007422.jpg?w=2000" class="card-img" alt="..." style="max-width: 768px">
</div>
