@model ProyectoVeterinariaG8.DAL.MascotaPadecimiento

@{
    ViewData["Title"] = "Delete";
}

<h3>Esta seguro de Eliminar el Padecimiento de la Mascota?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mascota.MascotaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    <hr />
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PadecimientoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </form>
</div>
