@model ProyectoVeterinariaG8.DAL.MascotaPadecimiento

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalles del Padecimiento de Mascotas</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mascota.MascotaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PadecimientoId" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</div>
